.nav-link.active {
  color: #efdbff !important;
  font-weight: bolder;
}

.event-card {
  width: 90%;
  margin: 11px;
  height: 95%;
}

@media only screen and (max-width: 999px) {
  .search-bar {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .search-bar {
    width: 400px;
  }
  .event-sidebar {
    padding: 5px;
  }
}
