.footer-container {
  bottom: 0;
  width: 100%;
  padding-top: 3em;
  position: relative;
  height: 2.5rem;
  background-color: #ffc1078a;
  min-height: 25vh;
}

.main-footer{
  margin-top: 15px;
}


.icon-link{
  margin-top: 35px;
  font-size: 12px;
}

.footer-row{
  margin-left: 2%;
}

.copyright-row{
  margin-left: 2%;
}