.body {
  background-color: white;
  margin-bottom: 20px;
}

.list-group-item.active {
  background-color: #8a2be2 !important;
}

a {
  color: black;
}

@media only screen and (max-width: 999px) {
  .nav-link.active {
    padding-left: 12px;

    border-radius: 5px;
    background-color: #8a2be2 !important;
  }
  .dropdown-item.active {
    background-color: #8a2be2 !important;
  }
  .desktop-only {
    display: none;
  }
  .button-row {
    padding: 10px;
  }
  body {
    width: 100% !important;
  }
  .content {
  }
  .page-content {
    width: 100% !important;
  }
  .container-fluid {
    height: 100% !important;
    width: 100% !important;
    margin: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
  }
  .sidebar {
    height: 100% !important;

    margin-bottom: 40px;
  }

  .create-modal {
    position: absolute;
    top: 15vh;
    left: 7vw;
    right: 7vw;
    bottom: 15vh;
    background-color: White;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .create-group-modal {
    position: absolute;
    top: 15vh;
    left: 7vw;
    right: 7vw;
    bottom: 15vh;
    background-color: White;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .mobile-row {
    width: 100vw !important;
    margin-left: auto;
    margin-right: auto;
  }




  /*
    CSS underneath here contains css styling for login, register, all 4 questionnaires and the buttons/tags within them for Edreece
    as a heads up. Let me know if you need anything/clarification 
  */


  .login {
    margin-bottom: 20px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .SFSULoginH1 {
    margin-left: 35px;
  }

  .LoginButton{
     margin-top: 15px;
     margin-bottom: 15px;
   }

   .signUp {
     margin-left: 30px;
   }

  /* Login.js good for mobile 
     Regis starts below
  */

  .Registration {
    background-color: white;
    margin-top: 15px;
    margin-right: 6px;
    margin-left: 5px;
  }

  .AccountActivation{
    margin-left: 20px;
  }

  .ActivateAccount{
    margin-left: 20px;
  }

  .SFSULoginB {
    margin-top: 80px;
    margin-right: 30px;
    width: 350px;
    height: 50px;
    font-weight: 900;
  }

  .SFSUNEXT {
    width: 350px;
    margin-top: 180px;
    margin-bottom: 20px
  }
  
  .SFSUAccount {
    width: 350px;
  }
  
  .TOSCheck {
    margin-top: 50px;
    margin-left: 45;
  }
  
  /* 
  Register works on mobile now, 
  below are the questionnaires.
  */

  .QuestionNEXT{
    margin-bottom: 20px;
  }
  
  .QuestionH2{
    margin-left: 25px;
  }

  .QuestionH5{
    margin-left: 25px;
  }

  /* Mobile for Login/Register/Questionnaires are finished */
}

@media only screen and (min-width: 1000px) {
  .chat-nav {
    padding-right: 5px;
    border: 2px solid black;
    border-color: black;
    border-width: 0px 2px 0px 0px;
  }
  .nav-link.active {
    border-radius: 5px;
    background-color: #8a2be2 !important;
  }
  .dropdown-item.active {
    background-color: #8a2be2 !important;
  }
  .mobile-only {
    display: none;
  }
  .button-row {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-content {
    width: 80% !important;
  }

  .single-group {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .content {
    width: 100%;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    margin-top: 0px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .sidebar-contents {
    height: auto;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .create-modal {
    position: absolute;
    top: 20vh;
    left: 25vw;
    right: 25vw;
    bottom: 20vh;
    background-color: White;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .create-group-modal {
    position: absolute;
    top: 20vh;
    left: 25vw;
    right: 25vw;
    bottom: 5vh;
    background-color: White;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);

  }


  /*
    CSS underneath here contains css styling for login, register, all 4 questionnaires and the buttons/tags within them for Edreece
    as a heads up. Let me know if you need anything/clarification 
  */

  .login {
    margin-bottom: 20px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .SFSULoginH1 {
    margin-left: 800px;
  }

  .LoginButton{
     margin-top: 15px;
     margin-bottom: 15px;
   }

   .NewGatorLink{
     margin-left: 450px;
   }

   .signUp {
     margin-left: 10px;
     margin-bottom: 5px;
   }

   /* Register.js below Windows*/

   .Registration {
    background-color: white;
    margin-top: 150px;
    margin-right: 700px;
    margin-left: 700px;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .AccountActivation{
    margin-left: 50px;
  }

  .ActivateAccount{
    margin-left: 25px;
    margin-right: 75px;
  }

  .SFSULoginB {
    margin-top: 80px;
    width: 450px;
    height: 50px;
    font-weight: 900;
  }

  .TOSCheck {
    margin-top: 50px;
    margin-left: 45;
    font-weight: 700;
  }
  
  .SFSUNEXT {
    width: 450px;
    margin-top: 180px;
    margin-bottom: 20px;
  }
  
  .SFSUAccount {
    width: 450px;
    margin-bottom: 15px;
  }
  
  /* Register finished, on to questionnaire */
  
  .Questionnaire{
    margin-top: 50px;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .QuestionH2{
    margin-left: 750px;
  }

  .QuestionH5{
    margin-left: 685px;
  }

  .QuestionNEXT{
    margin-left: 125px;
    margin-bottom: 40px;
  }

  .QuestionSKIP{
    margin-left: 250px;
  }
  /* Desktop for Login/Register/Questionnaires are finished */

}