.body {
  background-color: white;
  margin-bottom: 20px;
}

.login {
  background-color: #c59cd9;
  margin-bottom: 20px;
  margin-top: 300px;
  margin-right: 700px;
  margin-left: 700px;
}

.list-group-item.active {
  background-color: #8a2be2 !important;
}

a {
  color: black;
}

.SFSULoginB {
  margin-top: 80px;
  width: 450px;
  height: 50px;
  font-weight: 900;
}

.SFSUNEXT {
  width: 450px;
  margin-top: 180px;
}

.SFSUAccount {
  width: 450px;
}

.TOSCheck {
  margin-top: 50px;
  margin-left: 45;
}

.Registration {
  background-color: white;
  margin-top: 150px;
  margin-right: 700px;
  margin-left: 700px;
}

@media only screen and (max-width: 999px) {
  .nav-link.active {
    padding-left: 12px;

    border-radius: 5px;
    background-color: #8a2be2 !important;
  }
  .dropdown-item.active {
    background-color: #8a2be2 !important;
  }
  .desktop-only {
    display: none;
  }
  .button-row {
    padding: 10px;
  }
  body {
    width: 100% !important;
  }
  .content {
  }
  .page-content {
    width: 100% !important;
  }
  .container-fluid {
    height: 100% !important;
    width: 100% !important;
    margin: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
  }
  .sidebar {
    height: 100% !important;

    margin-bottom: 40px;
  }

  .create-modal {
    position: absolute;
    top: 15vh;
    left: 7vw;
    right: 7vw;
    bottom: 15vh;
    background-color: White;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }
  .mobile-row {
    width: 100vw !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .chat-nav {
    padding-right: 5px;
    border: 2px solid black;
    border-color: black;
    border-width: 0px 2px 0px 0px;
  }
  .nav-link.active {
    border-radius: 5px;
    background-color: #8a2be2 !important;
  }
  .dropdown-item.active {
    background-color: #8a2be2 !important;
  }
  .mobile-only {
    display: none;
  }
  .button-row {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-content {
    width: 80% !important;
  }

  .single-group {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .content {
    width: 100%;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    margin-top: 0px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .sidebar-contents {
    height: auto;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .create-modal {
    position: absolute;
    top: 20vh;
    left: 25vw;
    right: 25vw;
    bottom: 20vh;
    background-color: White;
    border: 1px solid black;
    border-color: black;
    border-width: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
  }
}
